
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem;
}
.container >*{
  min-width: 10rem;
  max-width: 30rem;
}
img{

  border-radius: 3rem;
  flex: 1 0;
  object-fit: cover;
  margin: 1rem;
  height: 25rem;
}
.details{
  display: flex;
  flex-direction: column;
  color: black;
  flex: 1 0;
  border: 3rem;
  margin-left: 1rem;

}
.header .name{
  color: rgb(7, 7, 102);
  font-size: 250%;
}
.origin{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.price{
  font-size: 120%;
  color: rgb(4, 32, 23);
  margin: 2rem rem 2rem 0;
}
button{
  background-color: brown;
  color: aliceblue;
  margin-top: 2rem;
  border-radius: 5rem;
  font-size: 200%;
}
