
div{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1.5rem;

}
input{
  border-radius: 3rem 0 0 3rem;
  justify-content: center;
  align-items: center;
}
button{
  background-color: rgb(241, 55, 55);
  border-radius: 0 3rem 3rem 0;
  height: 3rem;
  width: 5rem;
  color: aliceblue;
}
